body {
  /* background-color: #2c2c54; */
  background: url("https://t4.ftcdn.net/jpg/01/34/71/25/360_F_134712585_Jz4F59qr9j66ipSkfxRCBMGgFJ6HFqjO.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  opacity: 0.8;
}

.watch {
  background-color: #ccae62;
  box-shadow: 8px 7px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 7px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 7px 28px -1px rgba(0, 0, 0, 0.75);
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  width: 500px;
  margin: 260px auto;
  padding: 35px 50px;
}
